---
import Link from './Link.astro'
---
<div class="home-hero-section">
 <div class="header-container w-container">
    <div class="flex-row-header-home">
       <div class="hero-section-left">
          <a href="#comparison" class="text-block-316">PAM Líder de mercado</a>
          <a href="/pt-br/solucao-pam" class="link-logos-institutes w-inline-block">
          <img src="https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/66bb680f9f2fd67c71a7b7fc_institutes-logos-light.png" loading="lazy" width="620" sizes="(max-width: 479px) 100vw, (max-width: 767px) 79vw, (max-width: 991px) 558px, (max-width: 1439px) 39vw, 558px" alt="" srcset="https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/66bb680f9f2fd67c71a7b7fc_institutes-logos-light-p-500.png 500w, https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/66bb680f9f2fd67c71a7b7fc_institutes-logos-light.png 534w" class="image-167"/>
          </a>
          <div class="div-block-223">
          </div>
          <h1>Número #1 em Gestão de Acesso Privilegiado,<br/>de novo!</h1>
          <div class="home-header-subt">Solução PAM incomparável. <strong>Reconhecimento internacional</strong>. Fabricação brasileira.</div>
          <p>Proteja sua organização em tempo recorde:</p>
          <div class="w-layout-hflex flex-block-69">
             <Link href="/pt-br/solucao-pam" type="primary" text="Fale com Vendas" />
             <Link href="/pt-br/produtos" type="secondary" text="Explore Produtos" />
          </div>
       </div>
       <div class="div-block-211">
          <a href="/pt-br/veja-uma-demo" class="link-block-44 w-inline-block">
          	<img src="https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/66bb857b7e9ad17a87caae2c_PAM%202024%20DQuadrant.png" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 767px) 92vw, (max-width: 991px) 94vw, (max-width: 1279px) 33vw, (max-width: 1919px) 35vw, 540px" srcset="https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/66bb857b7e9ad17a87caae2c_PAM%202024%20DQuadrant-p-500.png 500w, https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/66bb857b7e9ad17a87caae2c_PAM%202024%20DQuadrant-p-800.png 800w, https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/66bb857b7e9ad17a87caae2c_PAM%202024%20DQuadrant.png 944w" alt="data quadrant from software reviews showing senhasegura as leader" class="image-168"/>
          </a>
       </div>
    </div>
 </div>
</div>