---
import { Icon } from 'astro-icon/components';

const {icon, href} = Astro.props;
---

<a {href} class="uui-footer05_social-link w-inline-block">
    <div class="uui-footer05_social-icon w-embed">
       <?xml version="1.0" standalone="no"?>
       <Icon name={icon} width={24} height={24} fill="none" app="ikonik" class="ikonik-ensk5"/>
    </div>
 </a>