---
import CtaItem from '../components/CtaItem.astro'

import ContactForm from '../layouts/ContactForm.astro'
---
<div id="demo" class="cta-demo-home">
    <div class="spark-container-7 w-container">
       <div class="spark-flex-row-3 spark-5-spacing">
          <div class="w-layout-grid cta-flex">
             <div id="w-node-f1aef5f9-8e81-eee9-da7b-0701e5ab3a91-29cb972b" class="uui-layout06_content-2">
                <slot />
                <div class="quadro-cta-demo">
                   <CtaItem 
                      imgsrc="https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/657f3f6b78666878d30ac22f_senhasegura-favicon-webclip.png"
                      text="Custo total de propriedade (TCO) 70% menor em comparação com os concorrentes."
                   /><CtaItem 
                      imgsrc="https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/657f3f6b78666878d30ac22f_senhasegura-favicon-webclip.png"
                      text="Tempo de valorização (TTV) 90% maior com uma implantação rápida de 7 minutos."
                   /><CtaItem 
                      imgsrc="https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/657f3f6b78666878d30ac22f_senhasegura-favicon-webclip.png"
                      text="A única solução PAM disponível no mercado que cobre todo o ciclo de vida do acesso privilegiado."
                   />
                </div>
             </div>
             <div class="differentials-img-home">
                <div class="html-embed demo-form w-embed w-script">
                   <!-- <ContactForm /> -->
                </div>
             </div>
          </div>
       </div>
       <div class="spark-flex-row-3 spark-5-spacing">
       </div>
    </div>
 </div>