---
---
<nav class="top-menu">
 <div class="w-layout-hflex flex-block-41">
    <div class="top-menu-links-div">
       <a href="/pt-br/empresa/precos" class="top-menu-contact-link">
       <strong>Preços</strong>
       </a>
       <a href="/pt-br/blog" class="top-menu-blog-link">Blog</a>
       <a href="/pt-br/contato" class="top-menu-contact-link">Contato</a>
       <a href="/pt-br/servicos/solution-center" class="top-menu-support-link">Suporte</a>
       <div class="div-block-167">
          <a href="https://docs.senhasegura.io/docs" target="_blank" class="top-menu-docs-link">Documentação</a>
          <a href="https://docs.senhasegura.io/docs" class="w-inline-block">
             <div class="html-embed-14 w-embed">
                <svg width="16px" height="16px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="026566">
                   <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                   <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                   <g id="SVGRepo_iconCarrier">
                      <path d="M18 20.75H6C5.27065 20.75 4.57118 20.4603 4.05546 19.9445C3.53973 19.4288 3.25 18.7293 3.25 18V6C3.25 5.27065 3.53973 4.57118 4.05546 4.05546C4.57118 3.53973 5.27065 3.25 6 3.25H12C12.1989 3.25 12.3897 3.32902 12.5303 3.46967C12.671 3.61032 12.75 3.80109 12.75 4C12.75 4.19891 12.671 4.38968 12.5303 4.53033C12.3897 4.67098 12.1989 4.75 12 4.75H6C5.66848 4.75 5.35054 4.8817 5.11612 5.11612C4.8817 5.35054 4.75 5.66848 4.75 6V18C4.75 18.3315 4.8817 18.6495 5.11612 18.8839C5.35054 19.1183 5.66848 19.25 6 19.25H18C18.3315 19.25 18.6495 19.1183 18.8839 18.8839C19.1183 18.6495 19.25 18.3315 19.25 18V12C19.25 11.8011 19.329 11.6103 19.4697 11.4697C19.6103 11.329 19.8011 11.25 20 11.25C20.1989 11.25 20.3897 11.329 20.5303 11.4697C20.671 11.6103 20.75 11.8011 20.75 12V18C20.75 18.7293 20.4603 19.4288 19.9445 19.9445C19.4288 20.4603 18.7293 20.75 18 20.75Z" fill="#026566"></path>
                      <path d="M20 8.75C19.8019 8.74741 19.6126 8.66756 19.4725 8.52747C19.3324 8.38737 19.2526 8.19811 19.25 8V4.75H16C15.8011 4.75 15.6103 4.67098 15.4697 4.53033C15.329 4.38968 15.25 4.19891 15.25 4C15.25 3.80109 15.329 3.61032 15.4697 3.46967C15.6103 3.32902 15.8011 3.25 16 3.25H20C20.1981 3.25259 20.3874 3.33244 20.5275 3.47253C20.6676 3.61263 20.7474 3.80189 20.75 4V8C20.7474 8.19811 20.6676 8.38737 20.5275 8.52747C20.3874 8.66756 20.1981 8.74741 20 8.75Z" fill="#026566"></path>
                      <path d="M13.5 11.25C13.3071 11.2352 13.1276 11.1455 13 11C12.877 10.8625 12.809 10.6845 12.809 10.5C12.809 10.3155 12.877 10.1375 13 10L19.5 3.5C19.5687 3.42631 19.6515 3.36721 19.7435 3.32622C19.8355 3.28523 19.9348 3.26319 20.0355 3.26141C20.1362 3.25963 20.2362 3.27816 20.3296 3.31588C20.423 3.3536 20.5078 3.40974 20.579 3.48096C20.6503 3.55218 20.7064 3.63701 20.7441 3.7304C20.7818 3.82379 20.8004 3.92382 20.7986 4.02452C20.7968 4.12523 20.7748 4.22454 20.7338 4.31654C20.6928 4.40854 20.6337 4.49134 20.56 4.56L14 11C13.8724 11.1455 13.6929 11.2352 13.5 11.25Z" fill="#026566"></path>
                   </g>
                </svg>
             </div>
          </a>
       </div>
    </div>
 </div>
</nav>
<div data-animation="default" class="senhasegura-main-nav-bar w-nav" data-easing2="ease" data-easing="ease" data-collapse="medium" data-w-id="f1e6c95b-1679-a95a-98bd-3894965ea328" role="banner" data-duration="2000" data-doc-height="1">
 <div class="inner-menu">
    <a href="/pt-br" aria-current="page" class="senhasegura-logo w-nav-brand w--current">
    <img src="https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/65707558b59111b28ab6eaa4_senhasegura%20logo.png" loading="lazy" width="200" height="Auto" alt="senhasegura logo in colors" class="logo-menu"/>
    </a>
    <div class="w-layout-hflex flex-right-aligned">
       <aside role="navigation" class="nav-with-dropdown w-nav-menu">
          <div data-hover="true" data-delay="300" data-w-id="f1e6c95b-1679-a95a-98bd-3894965ea374" class="spark-mega-dropdown-2 w-dropdown">
             <div class="main-menu-btn senhasegura-menu-dropdown w-dropdown-toggle">
                <div class="main-menu-option">Plataforma</div>
                <div class="chevron-icon w-embed">
                   <img src = "https://assets-global.website-files.com/5efbe6918a9cfd65bb1608f9/5f040b6aa07a8326f9793dda_chevron-down.svg" alt="chevron arrow" width="18" height="18"/>
                </div>
             </div>
             <nav class="dropdown-list-nav w-dropdown-list">
                <div class="dd-container-products-mobile w-container">
                   <div id="products-dropdown" class="dd-menu-products-mobile">
                      <div class="w-layout-vflex flex-double-menu-dd">
                         <div class="w-layout-grid dd-menu-2-grid">
                            <div class="div-block-104">
                               <a href="/pt-br/produtos/gestao-de-acesso-privilegiado-pam" class="link-plataform w-inline-block">
                                  <div class="div-plataform">
                                     <div class="div-block-172">
                                     </div>
                                     <div class="div-block-170">
                                        <h5 class="heading-176">
                                           <span class="text-span-127">Acesso Privilegiado Seguro </span>
                                        </h5>
                                        <p class="paragraph-12">Descubra, gerencie, proteja e audite contas e sessões.</p>
                                     </div>
                                  </div>
                               </a>
                               <a href="/pt-br/produtos/endpoint-and-device-protection" class="link-plataform w-inline-block">
                                  <div class="div-plataform">
                                     <div class="div-block-172">
                                     </div>
                                     <div class="div-block-170">
                                        <h5 class="heading-176">
                                           <span class="text-span-127">Proteção de Endpoint &amp; Dispositivos</span>
                                        </h5>
                                        <p class="paragraph-12">Acesso Just In Time, gestão e elevação de privilégios sob demanda.</p>
                                     </div>
                                  </div>
                               </a>
                               <a href="/pt-br/produtos/cloud-infrastructure-entitlements-management" class="link-plataform w-inline-block">
                                  <div class="div-plataform">
                                     <div class="div-block-172">
                                     </div>
                                     <div class="div-block-170">
                                        <h5 class="heading-176">
                                           <span class="text-span-127">Segurança de Identidades Multi-Cloud</span>
                                        </h5>
                                        <p class="paragraph-12">Acesso seguro em consoles e serviços de múltiplos ambientes em nuvem.</p>
                                     </div>
                                  </div>
                               </a>
                               <a href="/pt-br/produtos/devops-secret-manager" class="link-plataform w-inline-block">
                                  <div class="div-plataform">
                                     <div class="div-block-172">
                                     </div>
                                     <div class="div-block-170">
                                        <h5 class="heading-176">
                                           <span class="text-span-127">Gerenciamento de segredos de DevOps </span>
                                        </h5>
                                        <p class="paragraph-12">Gestão de secrets para aplicações, bancos de dados, ferramentas CI/CD e serviços.</p>
                                     </div>
                                  </div>
                               </a>
                            </div>
                            <div id="w-node-f1e6c95b-1679-a95a-98bd-3894965ea38c-965ea328" class="div-block-105">
                               <a href="/pt-br/produtos/certificate-manager" class="link-plataform w-inline-block">
                                  <div class="div-plataform">
                                     <div class="div-block-172">
                                     </div>
                                     <div class="div-block-170">
                                        <h5 class="heading-176">
                                           <span class="text-span-127">Gestão de Certificados </span>
                                        </h5>
                                        <p class="paragraph-12">Gestão de ciclo de vida completo de certificados, com automação e publicação.</p>
                                     </div>
                                  </div>
                               </a>
                               <a href="/pt-br/produtos/domum-remote-access" class="link-plataform w-inline-block">
                                  <div class="div-plataform">
                                     <div class="div-block-172">
                                     </div>
                                     <div class="div-block-170">
                                        <h5 class="heading-176">
                                           <span class="text-span-127">Trabalho Remoto seguro</span>
                                        </h5>
                                        <p class="paragraph-12">Acesso remoto sem VPN e com nível de acesso detalhado para seus colaboradores, fornecedores e terceiros.</p>
                                     </div>
                                  </div>
                               </a>
                               <a href="/pt-br/produtos/mysafe" class="link-plataform w-inline-block">
                                  <div class="div-plataform">
                                     <div class="div-block-172">
                                     </div>
                                     <div class="div-block-170">
                                        <h5 class="heading-176">
                                           <span class="text-span-127">Gerenciador de Senhas Pessoais </span>
                                        </h5>
                                        <p class="paragraph-12">Armazene com segurança suas senhas pessoais e dados sensíveis.</p>
                                     </div>
                                  </div>
                               </a>
                               <a href="/pt-br/produtos/privileged-infrastructure" class="link-plataform w-inline-block">
                                  <div class="div-plataform">
                                     <div class="div-block-172">
                                     </div>
                                     <div class="div-block-170">
                                        <h5 class="heading-176">
                                           <span class="text-span-127">Infraestrutura Privilegiada</span>
                                        </h5>
                                        <p class="paragraph-12">Infraestrutura ativa, segura, de alta disponibilidade e escalável.</p>
                                     </div>
                                  </div>
                               </a>
                            </div>
                         </div>
                      </div>
                      <div id="w-node-ff2cea67-100e-6f50-746e-695f09a9ae8d-965ea328" class="div-plataform-360">
                         <div class="div-block-168">
                            <a href="/pt-br/produtos" class="link-text-products w-inline-block">
                               <h5 class="heading-176">
                                  <span class="text-span-127">Plataforma 360°</span>
                               </h5>
                            </a>
                            <a href="/pt-br/produtos" class="link-text-products w-inline-block">
                               <p class="paragraph-360">Uma plataforma completa, que garante as melhores práticas de Privilégio Mínimo e melhora a postura de segurança em toda a sua organização com o menos custo de propriedade total e implementação mais rápida do mercado.</p>
                            </a>
                         </div>
                         <div class="div-block-169">
                            <a href="/pt-br/produtos" class="spark-button w-button">Explore Nossos Produtos</a>
                         </div>
                      </div>
                   </div>
                </div>
             </nav>
          </div>
          <div data-hover="true" data-delay="300" data-w-id="f1e6c95b-1679-a95a-98bd-3894965ea32d" class="spark-mega-dropdown-2 w-dropdown">
             <div class="main-menu-btn senhasegura-menu-dropdown w-dropdown-toggle">
                <div class="main-menu-option">Soluções</div>
                <div data-w-id="f1e6c95b-1679-a95a-98bd-3894965ea331" class="chevron-icon w-embed">
                   <img src = "https://assets-global.website-files.com/5efbe6918a9cfd65bb1608f9/5f040b6aa07a8326f9793dda_chevron-down.svg" alt="chevron arrow" width="18" height="18"/>
                </div>
             </div>
             <nav class="dropdown-list-nav w-dropdown-list">
                <div class="dd-container-solutions-1 w-container">
                   <div id="solutions-dropdown" class="dd-solutions-2">
                      <div class="w-layout-grid dd-grid-solutions-2">
                         <div class="dd-menu-block-2">
                            <h4 class="compliance-audit-pages">Por Tipo de Uso</h4>
                            <a href="/pt-br/solucoes/auditoria" class="spark-dropdown-link-01 w-dropdown-link">Auditoria e Compliance</a>
                            <a href="/pt-br/solucoes/prevencao-contra-roubo-de-dados" class="spark-dropdown-link-01 w-dropdown-link">Prevenção a Roubo de Dados</a>
                            <a href="/pt-br/solucoes/devops" class="spark-dropdown-link-01 w-dropdown-link">DevOps</a>
                            <a href="/pt-br/solucoes/insider-threat" class="spark-dropdown-link-01 w-dropdown-link">Eliminação de Ameaça Interna</a>
                            <a href="/pt-br/solucoes/gestao-de-acesso-privilegiado" class="spark-dropdown-link-01 w-dropdown-link">Gestão de Acesso Privilegiado</a>
                            <a href="/pt-br/solucoes/acesso-de-terceiros" class="spark-dropdown-link-01 w-dropdown-link">Acesso Remoto e Terceiros</a>
                            <a href="/pt-br/solucoes/gravacao-de-acesso-privilegiado" class="spark-dropdown-link-01 w-dropdown-link">Gravação de Sessões</a>
                            <a href="/pt-br/solucoes/abuso-de-privilegios" class="spark-dropdown-link-01 w-dropdown-link">Abuso de Privilégios</a>
                            <a href="/pt-br/solucoes/senhas-hardcoded" class="spark-dropdown-link-01 w-dropdown-link">Senhas Hardcoded</a>
                            <a href="/pt-br/solucoes/password-reset" class="spark-dropdown-link-01 w-dropdown-link">Redefinição de Senhas</a>
                            <a href="/pt-br/solucoes/pam-for-cyber-insurance" class="spark-dropdown-link-01 w-dropdown-link">Seguro Cibernético</a>
                         </div>
                         <div class="dd-menu-block-copy">
                            <h4 class="compliance-audit-pages">Por Indústria</h4>
                            <a href="/pt-br/solucoes/energia-e-servicos-publicos" class="spark-dropdown-link-01 w-dropdown-link">Energia e Infraestrutura</a>
                            <a href="/pt-br/solucoes/solucao-financeira" class="spark-dropdown-link-01 w-dropdown-link">Financeira</a>
                            <a href="/pt-br/solucoes/solucao-governamental" class="spark-dropdown-link-01 w-dropdown-link">Governamental</a>
                            <a href="/pt-br/solucoes/solucao-de-saude" class="spark-dropdown-link-01 w-dropdown-link">Saúde</a>
                            <a href="/pt-br/solucoes/solucao-legal" class="spark-dropdown-link-01 w-dropdown-link">Jurídico</a>
                            <a href="/pt-br/solucoes/solucao-de-telecom" class="spark-dropdown-link-01 w-dropdown-link">Telecomunicações</a>
                            <a href="/pt-br/solucoes/solucao-de-varejo" class="spark-dropdown-link-01 w-dropdown-link">Varejo</a>
                         </div>
                         <div class="dd-menu-block-copy">
                            <h4 class="compliance-audit-pages">Por Certificação</h4>
                            <a href="/pt-br/solucoes/pci-dss" class="spark-dropdown-link-01 w-dropdown-link">PCI DSS</a>
                            <a href="/pt-br/solucoes/sox" class="spark-dropdown-link-01 w-dropdown-link">SOX</a>
                            <a href="/pt-br/solucoes/iso-27001" class="spark-dropdown-link-01 w-dropdown-link">ISO 27001</a>
                            <a href="/pt-br/solucoes/hipaa" class="spark-dropdown-link-01 w-dropdown-link">HIPAA</a>
                            <a href="/pt-br/solucoes/nist" class="spark-dropdown-link-01 w-dropdown-link">NIST</a>
                            <a href="/pt-br/solucoes/lpgd" class="spark-dropdown-link-01 w-dropdown-link">LGPD</a>
                            <a href="/pt-br/solucoes/isa-iec-62443" class="spark-dropdown-link-01 w-dropdown-link">ISO | 62443 | 4.0</a>
                            <a href="/pt-br/solucoes/sama" class="spark-dropdown-link-01 w-dropdown-link">SAMA</a>
                            <a href="/pt-br/solucoes/ksa" class="spark-dropdown-link-01 w-dropdown-link">KSA | NCA | ETC</a>
                         </div>
                      </div>
                   </div>
                </div>
             </nav>
          </div>
          <div data-hover="true" data-delay="300" data-w-id="f1e6c95b-1679-a95a-98bd-3894965ea3ab" class="spark-mega-dropdown-2 w-dropdown">
             <div class="main-menu-btn senhasegura-menu-dropdown w-dropdown-toggle">
                <div class="main-menu-option">Serviços</div>
                <div data-w-id="f1e6c95b-1679-a95a-98bd-3894965ea3af" class="chevron-icon w-embed">
                   <img src = "https://assets-global.website-files.com/5efbe6918a9cfd65bb1608f9/5f040b6aa07a8326f9793dda_chevron-down.svg" alt="chevron arrow" width="18" height="18"/>
                </div>
             </div>
             <nav class="dropdown-list-nav w-dropdown-list">
                <div class="dd-container-services-1 w-container">
                   <div id="services-dropdown" class="dd-menu-services-1-copy">
                      <div class="w-layout-grid dd-menu-services-2">
                         <div class="dd-div-services-2">
                            <a href="/pt-br/servicos/implantacao" class="link-services w-inline-block">
                               <h4 class="services-pages">Implementação</h4>
                            </a>
                            <a href="/pt-br/servicos/implantacao" class="spark-dropdown-link-25 w-dropdown-link">Nós e nossos parceiros oferecemos serviços profissionais para a implementação de nossas soluções, incluindo configuração inicial, customização e consultoria.</a>
                            <a href="/pt-br/servicos/implantacao" class="menu-btn-stroke w-button">Conheça a Implementação</a>
                         </div>
                         <div class="dd-div-services-2">
                            <a href="/pt-br/produtos/gestao-de-acesso-privilegiado-pam" class="link-services w-inline-block">
                               <h4 class="services-pages">
                                  <span class="text-span-127">Suporte</span>
                               </h4>
                            </a>
                            <a href="/pt-br/servicos/solution-center" class="spark-dropdown-link-25 w-dropdown-link">Oferecemos o melhor suporte do mercado e em português para todos os nossos clientes. Saiba mais sobre nossos serviços, recursos e como contatar nosso time aqui.</a>
                            <a href="/pt-br/servicos/solution-center" class="menu-btn-stroke w-button">Acesse a Central de Suporte</a>
                         </div>
                         <div class="dd-div-services-2">
                            <a href="/pt-br/produtos/gestao-de-acesso-privilegiado-pam" class="link-services w-inline-block">
                               <h4 class="services-pages">
                                  <span class="text-span-127">Training</span>
                               </h4>
                            </a>
                            <a href="/pt-br/servicos/treinamento-e-certificacao" class="spark-dropdown-link-25 w-dropdown-link">Acesse guias, documentação e vídeos para entender melhor sobre nossos produtos no nosso portal de e-learning.</a>
                            <a href="/pt-br/servicos/treinamento-e-certificacao" class="menu-btn-stroke w-button">Veja Treinamentos &amp; Certificados</a>
                         </div>
                      </div>
                   </div>
                </div>
             </nav>
          </div>
          <div data-hover="true" data-delay="300" data-w-id="f1e6c95b-1679-a95a-98bd-3894965ea3f2" class="spark-mega-dropdown-2 w-dropdown">
             <div class="main-menu-btn senhasegura-menu-dropdown w-dropdown-toggle">
                <div class="main-menu-option">Parceiros</div>
                <div data-w-id="f1e6c95b-1679-a95a-98bd-3894965ea3f6" class="chevron-icon w-embed">
                   <img src = "https://assets-global.website-files.com/5efbe6918a9cfd65bb1608f9/5f040b6aa07a8326f9793dda_chevron-down.svg" alt="chevron arrow" width="18" height="18"/>
                </div>
             </div>
             <nav class="dropdown-list-nav w-dropdown-list">
                <div class="dd-container-partners-1 w-container">
                   <div id="partners-dropdown" class="dd-menu-partners">
                      <div class="dd-card-partners-2 spark-stacked">
                         <a href="/pt-br/parceiros" class="link-block-4 w-inline-block">
                         <img width="464" loading="lazy" alt="" src="https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/657b79fd11ce25cd0225a895_Ativo%206.svg" class="dd-card-partners-img"/>
                         </a>
                         <div class="dd-services-details">
                            <h4 class="dd-partners-text-bold">Veja nossos parceiros</h4>
                            <p class="paragraph-3">Trabalhamos com parceiros em todo o mundo para oferecer nossa solução líder à sua organização.</p>
                            <a href="/pt-br/parceiros" class="menu-btn-stroke-partners w-button">ENCONTRE UM PARCEIRO</a>
                         </div>
                      </div>
                      <div class="w-layout-grid dd-grid-partners">
                         <div class="div-block-partners">
                            <h4 class="compliance-audit-pages">Programa de Parceria Affinity</h4>
                            <a href="/pt-br/parceiros/sobre-o-programa" class="spark-dropdown-link-24 spark-dropdown-link-02 w-dropdown-link">Sobre o Programa</a>
                            <a href="/pt-br/parceiros/mssp-affinity-partner-program" class="spark-dropdown-link-24 spark-dropdown-link-02 w-dropdown-link">Programa de parceiros de afinidade MSSP</a>
                            <a href="/pt-br/parceiros/seja-um-parceiro" class="spark-dropdown-link-24 spark-dropdown-link-02 w-dropdown-link">Torne-se um Parceiro</a>
                            <a href="/pt-br/parceiros/security-alliance-program" class="spark-dropdown-link-24 spark-dropdown-link-02 w-dropdown-link">Programa Security Alliance</a>
                            <a href="https://academy.senhasegura.com/" class="spark-dropdown-link-24 spark-dropdown-link-02 w-dropdown-link">Academy | e-Learning for Certification</a>
                            <a href="/pt-br/senhasegura-pam-azure-marketplace" class="spark-dropdown-link-24 spark-dropdown-link-02 w-dropdown-link">senhasegura na Azure</a>
                            <a href="https://lp.senhasegura.co/pt-br/programa-incentivo-parceiros" class="spark-dropdown-link-24 spark-dropdown-link-02 w-dropdown-link">Programa de Incentivo de Vendas</a>
                         </div>
                         <div class="div-block-partners">
                            <h4 class="compliance-audit-pages">Portal Affinity</h4>
                            <a href="#" class="dd-mobile-disclaimer w-dropdown-link">Portal exclusivo para parceiros comerciais da senhasegura, com acesso a pedidos e ativação de licenças para POC e NFR.</a>
                            <a href="https://affinity.senhasegura.io/flow/auth/signin" class="menu-btn-stroke w-button">ACCESSE O PORTAL</a>
                         </div>
                         <div class="div-block-partners">
                            <h4 class="compliance-audit-pages">Registro de Oportunidades</h4>
                            <a href="#" class="dd-mobile-disclaimer w-dropdown-link">Para que nossa equipe comercial apoie sua venda de forma mais eficaz, solicite sua reserva de oportunidade aqui.</a>
                            <a href="/pt-br/parceiros/reserva-de-oportunidade" class="menu-btn-stroke w-button">REGISTRE AQUI</a>
                         </div>
                      </div>
                   </div>
                </div>
             </nav>
          </div>
          <div data-hover="true" data-delay="300" data-w-id="f1e6c95b-1679-a95a-98bd-3894965ea41d" class="spark-mega-dropdown-2 w-dropdown">
             <div class="main-menu-btn senhasegura-menu-dropdown w-dropdown-toggle">
                <div class="main-menu-option">Empresa</div>
                <div data-w-id="f1e6c95b-1679-a95a-98bd-3894965ea421" class="chevron-icon w-embed">
                   <img src = "https://assets-global.website-files.com/5efbe6918a9cfd65bb1608f9/5f040b6aa07a8326f9793dda_chevron-down.svg" alt="chevron arrow" width="18" height="18"/>
                </div>
             </div>
             <nav class="dropdown-list-nav w-dropdown-list">
                <div class="dd-container-company-1 w-container">
                   <div id="company-dropdown" class="dd-menu-company">
                      <div class="w-layout-grid dd-grid-company-2">
                         <div class="div-block-109">
                            <h4 class="compliance-audit-pages">Sobre nós</h4>
                            <div class="w-layout-grid company-grid-menu">
                               <a href="/pt-br/empresa/sobre-nos" class="spark-dropdown-link-23 spark-dropdown-link-01 w-dropdown-link">Conheça a senhasegura</a>
                               <a href="/pt-br/empresa/career" class="spark-dropdown-link-23 spark-dropdown-link-01 w-dropdown-link">Carreiras</a>
                               <a href="/pt-br/contato" class="spark-dropdown-link-23 spark-dropdown-link-01 w-dropdown-link">Contato</a>
                            </div>
                         </div>
                         <div class="div-block-110">
                            <h4 class="compliance-audit-pages">Por que senhasegura</h4>
                            <a href="/pt-br/empresa/por-que-senhasegura" class="spark-dropdown-link-23 spark-dropdown-link-01 w-dropdown-link">A vantagem do senhasegura</a>
                            <a href="/pt-br/i-am-senhasegura" class="spark-dropdown-link-23 spark-dropdown-link-01 w-dropdown-link">Eu sou senhasegura</a>
                            <a href="/pt-br/empresa/precos" class="spark-dropdown-link-23 spark-dropdown-link-01 w-dropdown-link">Preços</a>
                            <a href="/pt-br/empresa/trust-center" class="spark-dropdown-link-23 spark-dropdown-link-01 w-dropdown-link">Trust Center</a>
                            <a href="/pt-br/empresa/conquistas" class="spark-dropdown-link-23 spark-dropdown-link-01 w-dropdown-link">Prêmios &amp; Relatórios</a>
                            <a href="/pt-br/empresa/global-presence-me" class="spark-dropdown-link-23 spark-dropdown-link-01 w-dropdown-link">senhasegura no Oriente Médio</a>
                         </div>
                         <div class="div-block-110-copy">
                            <h4 class="compliance-audit-pages">Notícias</h4>
                            <a href="/pt-br/empresa/imprensa" class="spark-dropdown-link-23 spark-dropdown-link-01 w-dropdown-link">Imprensa</a>
                            <a href="/pt-br/empresa/sala-de-imprensa" class="spark-dropdown-link-23 spark-dropdown-link-01 w-dropdown-link">Sala de imprensa</a>
                            <div class="w-layout-hflex social-icons-menu">
                               <a href="https://www.linkedin.com/company/senhasegura/" target="_blank" class="w-inline-block">
                                  <div class="w-embed">
                                     <svg fill="#026566" height="24px" width="24px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-143 145 512 512" xml:space="preserve" stroke="#026566">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0">
                                        </g>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                        </g>
                                        <g id="SVGRepo_iconCarrier">
                                           <path d="M113,145c-141.4,0-256,114.6-256,256s114.6,256,256,256s256-114.6,256-256S254.4,145,113,145z M41.4,508.1H-8.5V348.4h49.9 V508.1z M15.1,328.4h-0.4c-18.1,0-29.8-12.2-29.8-27.7c0-15.8,12.1-27.7,30.5-27.7c18.4,0,29.7,11.9,30.1,27.7 C45.6,316.1,33.9,328.4,15.1,328.4z M241,508.1h-56.6v-82.6c0-21.6-8.8-36.4-28.3-36.4c-14.9,0-23.2,10-27,19.6 c-1.4,3.4-1.2,8.2-1.2,13.1v86.3H71.8c0,0,0.7-146.4,0-159.7h56.1v25.1c3.3-11,21.2-26.6,49.8-26.6c35.5,0,63.3,23,63.3,72.4V508.1z ">
                                           </path>
                                        </g>
                                     </svg>
                                  </div>
                               </a>
                               <a href="https://www.instagram.com/senhasegura_/" target="_blank" class="w-inline-block">
                                  <div class="w-embed">
                                     <svg fill="#026566" height="24px" width="24px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-143 145 512 512" xml:space="preserve" stroke="#026566">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0">
                                        </g>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                        </g>
                                        <g id="SVGRepo_iconCarrier">
                                           <g>
                                              <path d="M113,446c24.8,0,45.1-20.2,45.1-45.1c0-9.8-3.2-18.9-8.5-26.3c-8.2-11.3-21.5-18.8-36.5-18.8s-28.3,7.4-36.5,18.8 c-5.3,7.4-8.5,16.5-8.5,26.3C68,425.8,88.2,446,113,446z">
                                              </path>
                                              <polygon points="211.4,345.9 211.4,308.1 211.4,302.5 205.8,302.5 168,302.6 168.2,346 ">
                                              </polygon>
                                              <path d="M183,401c0,38.6-31.4,70-70,70c-38.6,0-70-31.4-70-70c0-9.3,1.9-18.2,5.2-26.3H10v104.8C10,493,21,504,34.5,504h157 c13.5,0,24.5-11,24.5-24.5V374.7h-38.2C181.2,382.8,183,391.7,183,401z">
                                              </path>
                                              <path d="M113,145c-141.4,0-256,114.6-256,256s114.6,256,256,256s256-114.6,256-256S254.4,145,113,145z M241,374.7v104.8 c0,27.3-22.2,49.5-49.5,49.5h-157C7.2,529-15,506.8-15,479.5V374.7v-52.3c0-27.3,22.2-49.5,49.5-49.5h157 c27.3,0,49.5,22.2,49.5,49.5V374.7z">
                                              </path>
                                           </g>
                                        </g>
                                     </svg>
                                  </div>
                               </a>
                               <a href="https://www.facebook.com/senhasegura/" target="_blank" class="w-inline-block">
                                  <div class="w-embed">
                                     <svg fill="#026566" height="24px" width="24px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-143 145 512 512" xml:space="preserve" stroke="#026566">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0">
                                        </g>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                        </g>
                                        <g id="SVGRepo_iconCarrier">
                                           <path d="M113,145c-141.4,0-256,114.6-256,256s114.6,256,256,256s256-114.6,256-256S254.4,145,113,145z M169.5,357.6l-2.9,38.3h-39.3 v133H77.7v-133H51.2v-38.3h26.5v-25.7c0-11.3,0.3-28.8,8.5-39.7c8.7-11.5,20.6-19.3,41.1-19.3c33.4,0,47.4,4.8,47.4,4.8l-6.6,39.2 c0,0-11-3.2-21.3-3.2c-10.3,0-19.5,3.7-19.5,14v29.9H169.5z">
                                           </path>
                                        </g>
                                     </svg>
                                  </div>
                               </a>
                               <a href="https://twitter.com/senha_segura?lang=en" target="_blank" class="w-inline-block">
                                  <div class="w-embed">
                                     <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 256 256" xml:space="preserve">
                                        <defs>
                                        </defs>
                                        <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)" >
                                           <path d="M 45 0 C 28.967 0 14.902 8.392 6.932 21.015 c 2.729 1.97 6.069 3.145 9.693 3.145 h 32.399 c 17.08 0 32.123 8.704 40.948 21.915 C 89.981 45.716 90 45.36 90 45 C 90 20.147 69.853 0 45 0 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(2,101,102); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                           <path d="M 90 45 c 0 -1.207 -0.062 -2.399 -0.155 -3.583 C 81.002 27.735 66.02 20.885 49.024 20.885 H 16.625 c -3.159 0 -6.101 -0.494 -8.614 -1.504 C 3.387 26.046 0.51 34.014 0.063 42.629 c 9.023 11.127 22.794 18.247 38.236 18.247 h 0.744 c 9.038 0 13.101 3.942 13.329 12.925 c 0.004 -0.143 0.022 -0.282 0.022 -0.426 c 0 8.417 -3.516 15.355 -11.172 16.456 C 42.469 89.934 43.726 90 45 90 C 69.853 90 90 69.853 90 45 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(2,101,102); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                           <path d="M 41.27 89.834 c 7.988 -1.072 14.169 -7.802 14.378 -16.034 c -0.228 -8.983 -7.566 -16.2 -16.604 -16.2 h -0.744 c -15.296 0 -28.947 -6.992 -37.973 -17.938 C 0.119 41.414 0 43.193 0 45 C 0 68.595 18.164 87.936 41.27 89.834 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(2,101,102); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                                           <path d="M -34.502 44.559 l 21.038 28.13 l -21.171 22.87 h 4.765 l 18.535 -20.023 L 3.64 95.559 h 16.214 L -2.367 65.847 l 19.705 -21.288 h -4.765 L -4.496 63 l -13.792 -18.441 H -34.502 z M -27.495 48.068 h 7.449 l 32.893 43.98 H 5.398 L -27.495 48.068 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 52.390088 -25.058597) " stroke-linecap="round" />
                                        </g>
                                     </svg>
                                  </div>
                               </a>
                               <a href="https://www.youtube.com/channel/UCpDms35l3tcrfb8kZSpeNYw" target="_blank" class="w-inline-block">
                                  <div class="w-embed">
                                     <svg fill="#026566" height="24px" width="24px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-143 145 512 512" xml:space="preserve" stroke="#026566">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0">
                                        </g>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                        </g>
                                        <g id="SVGRepo_iconCarrier">
                                           <g>
                                              <polygon points="78.9,450.3 162.7,401.1 78.9,351.9 ">
                                              </polygon>
                                              <path d="M113,145c-141.4,0-256,114.6-256,256s114.6,256,256,256s256-114.6,256-256S254.4,145,113,145z M241,446.8L241,446.8 c0,44.1-44.1,44.1-44.1,44.1H29.1c-44.1,0-44.1-44.1-44.1-44.1v-91.5c0-44.1,44.1-44.1,44.1-44.1h167.8c44.1,0,44.1,44.1,44.1,44.1 V446.8z">
                                              </path>
                                           </g>
                                        </g>
                                     </svg>
                                  </div>
                               </a>
                               <a href="https://whatsapp.com/channel/0029VaGXfEkF1Ylb6jXCtU3A" target="_blank" class="w-inline-block">
                                  <div class="w-embed">
                                     <svg width="24px" height="24px" viewBox="-7.2 -7.2 38.40 38.40" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff" stroke-width="0.00024000000000000003">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0" transform="translate(0,0), scale(1)">
                                           <rect x="-7.2" y="-7.2" width="38.40" height="38.40" rx="19.2" fill="#026566" strokewidth="0">
                                           </rect>
                                        </g>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#CCCCCC" stroke-width="0.528">
                                        </g>
                                        <g id="SVGRepo_iconCarrier">
                                           <path fill-rule="evenodd" clip-rule="evenodd" d="M3.50002 12C3.50002 7.30558 7.3056 3.5 12 3.5C16.6944 3.5 20.5 7.30558 20.5 12C20.5 16.6944 16.6944 20.5 12 20.5C10.3278 20.5 8.77127 20.0182 7.45798 19.1861C7.21357 19.0313 6.91408 18.9899 6.63684 19.0726L3.75769 19.9319L4.84173 17.3953C4.96986 17.0955 4.94379 16.7521 4.77187 16.4751C3.9657 15.176 3.50002 13.6439 3.50002 12ZM12 1.5C6.20103 1.5 1.50002 6.20101 1.50002 12C1.50002 13.8381 1.97316 15.5683 2.80465 17.0727L1.08047 21.107C0.928048 21.4637 0.99561 21.8763 1.25382 22.1657C1.51203 22.4552 1.91432 22.5692 2.28599 22.4582L6.78541 21.1155C8.32245 21.9965 10.1037 22.5 12 22.5C17.799 22.5 22.5 17.799 22.5 12C22.5 6.20101 17.799 1.5 12 1.5ZM14.2925 14.1824L12.9783 15.1081C12.3628 14.7575 11.6823 14.2681 10.9997 13.5855C10.2901 12.8759 9.76402 12.1433 9.37612 11.4713L10.2113 10.7624C10.5697 10.4582 10.6678 9.94533 10.447 9.53028L9.38284 7.53028C9.23954 7.26097 8.98116 7.0718 8.68115 7.01654C8.38113 6.96129 8.07231 7.046 7.84247 7.24659L7.52696 7.52195C6.76823 8.18414 6.3195 9.2723 6.69141 10.3741C7.07698 11.5163 7.89983 13.314 9.58552 14.9997C11.3991 16.8133 13.2413 17.5275 14.3186 17.8049C15.1866 18.0283 16.008 17.7288 16.5868 17.2572L17.1783 16.7752C17.4313 16.5691 17.5678 16.2524 17.544 15.9269C17.5201 15.6014 17.3389 15.308 17.0585 15.1409L15.3802 14.1409C15.0412 13.939 14.6152 13.9552 14.2925 14.1824Z" fill="#ffffff">
                                           </path>
                                        </g>
                                     </svg>
                                  </div>
                               </a>
                            </div>
                         </div>
                         <div class="div-block-110">
                            <h4 class="compliance-audit-pages">Clientes</h4>
                            <a href="/pt-br/casos-de-estudo" class="spark-dropdown-link-23 spark-dropdown-link-01 w-dropdown-link">Estudos de Caso</a>
                            <div class="dd-menu-company-testimonial">
                               <p class="dd-testimonial-p">“O senhasegura é uma ferramenta sólida e confiável para acesso remoto em ambientes críticos.”</p>
                               <a href="https://www.gartner.com/reviews/market/privileged-access-management/vendor/senhasegura/product/senhasegura/reviews?marketSeoName=privileged-access-management&amp;vendorSeoName=senhasegura&amp;productSeoName=senhasegura" class="dd-testimonial-link-1">Leia a resenha completa &gt;</a>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </nav>
          </div>
          <div data-hover="true" data-delay="300" data-w-id="f1e6c95b-1679-a95a-98bd-3894965ea461" class="spark-mega-dropdown-2 w-dropdown">
             <div class="main-menu-btn senhasegura-menu-dropdown w-dropdown-toggle">
                <div class="main-menu-option">Recursos</div>
                <div data-w-id="f1e6c95b-1679-a95a-98bd-3894965ea465" class="chevron-icon w-embed">
                   <img src = "https://assets-global.website-files.com/5efbe6918a9cfd65bb1608f9/5f040b6aa07a8326f9793dda_chevron-down.svg" alt="chevron arrow" width="18" height="18"/>
                </div>
             </div>
             <nav class="dropdown-list-nav w-dropdown-list">
                <div class="dd-container-resources w-container">
                   <div class="dd-menu-solutions">
                      <div class="w-layout-grid dd-grid-resources-2">
                         <div class="div-block-104">
                            <h4 class="compliance-audit-pages">Informações do Produto</h4>
                            <a href="https://lp.senhasegura.co/EN/RICH-MATERIALS#datasheets" target="_blank" class="spark-dropdown-link-27 w-dropdown-link">Folhas de dados ↗</a>
                            <a href="/pt-br/servicos/arquitetura-do-produto" class="spark-dropdown-link-27 w-dropdown-link">Arquitetura</a>
                            <a href="/pt-br/servicos/integracao" class="spark-dropdown-link-27 w-dropdown-link">Integrações</a>
                            <a href="/pt-br/servicos/seguranca" class="spark-dropdown-link-27 w-dropdown-link">Segurança</a>
                            <a href="https://docs.senhasegura.io/docs" target="_blank" class="spark-dropdown-link-27 w-dropdown-link">Documentação ↗</a>
                         </div>
                         <div class="div-block-104">
                            <h4 class="compliance-audit-pages">Informações sobre Cibersegurança</h4>
                            <a href="/pt-br/blog" class="spark-dropdown-link-27 w-dropdown-link">Blog</a>
                            <a href="https://lp.senhasegura.co/en/ebook-pam-101" class="spark-dropdown-link-27 w-dropdown-link">Gestão de Acesso Privilegiado 101 ↗ </a>
                            <a href="https://lp.senhasegura.co/pt-br/ebook-gestao-superficie-ataque" class="spark-dropdown-link-27 w-dropdown-link">Guia para Gestão de Superfície de Ataque ↗</a>
                            <a href="https://lp.senhasegura.co/pt/infografico-seguranca-cloud" class="spark-dropdown-link-27 w-dropdown-link">Segurança em Nuvem: 5 Motivos para se preocupar ↗</a>
                            <a href="https://lp.senhasegura.co/pt/infografico-metricas-para-medir-nivel-protecao-cibernetica" class="spark-dropdown-link-27 w-dropdown-link">16 Métricas para Proteção Cibernética ↗</a>
                            <a href="https://lp.senhasegura.co/pt-br/whitepaper-total-cost-of-ownership" class="spark-dropdown-link-27 w-dropdown-link">Quanto Custa Implementar PAM ↗</a>
                            <a href="https://lp.senhasegura.co/pt-br/whitepaper-seguro-cibernetico-pam" class="spark-dropdown-link-27 w-dropdown-link">Como PAM Diminui o Valor do Seguro Cibernético ↗</a>
                            <div id="w-node-_009abc93-3639-a380-b339-e65a2e385f8e-965ea328" class="dd-resources-more">
                               <a href="https://lp.senhasegura.co/en/rich-materials" class="dd-resources-link-e">Veja mais  »</a>
                            </div>
                         </div>
                         <div class="div-block-104">
                            <h4 class="compliance-audit-pages">Relatórios</h4>
                            <a href="https://lp.senhasegura.co/en/itrgpamreport" class="spark-dropdown-link-27 w-dropdown-link">SoftwareReviews Data Quadrant Report Privileged Access Management 2023 ↗</a>
                            <a href="https://lp.senhasegura.co/en/kuppingercole-leadership-compass-for-pam" class="spark-dropdown-link-27 w-dropdown-link">KuppingerCole 2023 Leadership Compass Report for Privileged Access <br/>Management ↗</a>
                            <a href="/pt-br/empresa/gartner-pam-magic-quadrant-2021-report" class="spark-dropdown-link-27 w-dropdown-link">Gartner Magic Quadrant for PAM 2021 Report </a>
                            <a href="/pt-br/empresa/frost-sullivan-2022-relatorio-customer-value-award" class="spark-dropdown-link-27 w-dropdown-link">2022 Frost &amp; Sullivan Customer Value Leadership Award </a>
                         </div>
                         <div class="div-block-104">
                            <h4 class="compliance-audit-pages">Licenciamento e Jurídico</h4>
                            <a href="https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/658c1f3351d5da0bce3317c4_5003-senhasegura-TOS-PT.pdf" class="spark-dropdown-link-27 w-dropdown-link">Termos de Uso</a>
                            <a href="https://cdn.prod.website-files.com/6531856af18f18cb20cfa436/65cf8bded11098e171512d12_SSG%205002%20-%20EULA%20V5%20(PT-BR).pdf" class="spark-dropdown-link-27 w-dropdown-link">Contrato de Licença de Usuário Final (EULA)</a>
                            <a href="/pt-br/politica-de-privacidade-e-cookies" class="spark-dropdown-link-27 w-dropdown-link">Política de Privacidade e Cookies</a>
                            <a href="/pt-br/empresa/operacoes" class="spark-dropdown-link-27 w-dropdown-link">Operações</a>
                         </div>
                      </div>
                   </div>
                </div>
             </nav>
          </div>
          <div class="w-layout-vflex flex-block-86">
             <a href="/pt-br/demo" class="main-menu-btn btn-demo w-nav-link">Demo</a>
          </div>
       </aside>
       <div class="w-layout-hflex flex-nav-menu-btns">
          <div data-hover="false" data-delay="0" class="dropdown w-dropdown">
             <div class="language-switcher w-dropdown-toggle">
                <div class="language-icon-dd w-icon-dropdown-toggle">
                </div>
                <div class="lang-globe-icon w-embed">
                   <svg width="18px" height="18px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#1f3030" stroke="#1f3030" stroke-width="0.00024000000000000003">
                      <g id="SVGRepo_bgCarrier" stroke-width="0">
                      </g>
                      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                      </g>
                      <g id="SVGRepo_iconCarrier">
                         <path d="M20.501 6.028V6h-.02A10.28 10.28 0 0 0 4.519 6H4.5v.028a10.262 10.262 0 0 0 0 12.944V19h.02a10.28 10.28 0 0 0 15.962 0h.021v-.028a10.262 10.262 0 0 0 0-12.944zM13 6V3.272A4.533 4.533 0 0 1 15.54 6zm2.935 1a16.827 16.827 0 0 1 .853 5H13V7zM12 3.272V6H9.46A4.533 4.533 0 0 1 12 3.272zM12 7v5H8.212a16.827 16.827 0 0 1 .853-5zm-4.787 5H3.226a9.234 9.234 0 0 1 1.792-5h2.984a17.952 17.952 0 0 0-.79 5zm0 1a17.952 17.952 0 0 0 .789 5H5.018a9.234 9.234 0 0 1-1.792-5zm1 0H12v5H9.065a16.827 16.827 0 0 1-.853-5zM12 19v2.728A4.533 4.533 0 0 1 9.46 19zm1 2.728V19h2.54A4.533 4.533 0 0 1 13 21.728zM13 18v-5h3.788a16.827 16.827 0 0 1-.853 5zm4.787-5h3.987a9.234 9.234 0 0 1-1.792 5h-2.984a17.952 17.952 0 0 0 .79-5zm0-1a17.952 17.952 0 0 0-.789-5h2.984a9.234 9.234 0 0 1 1.792 5zm1.352-6h-2.501a8.524 8.524 0 0 0-1.441-2.398A9.306 9.306 0 0 1 19.139 6zM9.803 3.602A8.524 8.524 0 0 0 8.363 6H5.86a9.306 9.306 0 0 1 3.942-2.398zM5.861 19h2.501a8.524 8.524 0 0 0 1.441 2.398A9.306 9.306 0 0 1 5.861 19zm9.336 2.398A8.524 8.524 0 0 0 16.637 19h2.502a9.306 9.306 0 0 1-3.942 2.398z">
                         </path>
                         <path fill="none" d="M0 0h24v24H0z">
                         </path>
                      </g>
                   </svg>
                </div>
             </div>
             <nav class="language-dd-list w-dropdown-list">
                <div class="locales-wrapper-2 w-locales-list">
                   <div role="list" class="locales-list w-locales-items">
                      <div role="listitem" class="language-locale w-locales-item">
                         <a hreflang="en" href="/" class="locale-btn">English</a>
                      </div>
                      <div role="listitem" class="language-locale w-locales-item">
                         <a hreflang="pt-BR" href="/pt-br" aria-current="page" class="locale-btn w--current">PT (BR)</a>
                      </div>
                   </div>
                </div>
             </nav>
          </div>
       </div>
       <div data-ix="simple-menu-button" class="simple-menu-btn w-nav-button">
          <div class="sp-line menu-line1">
          </div>
          <div class="spark-line-58 spark-simple-line">
          </div>
          <div class="spark-line-57 spark-simple-line">
          </div>
       </div>
    </div>
 </div>
</div>